<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>Weather API</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="xml2json.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</head>

<body  ng-controller="tabController">
<!-- Tab -->
<div style="width:450px;height:50px;">
	<ul style="width:80%;height:100%">
		<li style="float:left;list-style:none"><a href="#CurrentCity" ng-class="city_class" ng-model="city_class" ng-click="switchTab('city')">Current City</a></li>
		<li style="float:left;list-style:none"><a href="#NextDay" style="text-decoration:none" ng-class="day_class" ng-model="day_class" ng-click="switchTab('days')">Next Days</a></li>
	</ul>
</div>

<div ng-controller="firstContentController">
	<!-- First Content -->
	<div id="container_currentCity" ng-class="content1_class" ng-model="content1_class">
		<div>
			<select ng-model="myCity" ng-options="city.name for city in citys" ng-change="onChangeCity()"></select>
		</div>
		<div style="width:450px;height:1100px;">
			<h3>{{infos.current.city._name}}, {{infos.current.city.country}}</h3>
			<div>
				<h2>
					<span class="city-icon" ng-class="'i'+infos.current.weather._icon"></span>
					<span style="display:inline-block;margin-top:10px">{{infos.current.temperature._value}}</span>
				</h2>
				<span style="display:block;">{{infos.current.weather._value}}</span>
				<span style="display:block;">{{infos.current.lastupdate._value | date: 'medium'}}</span>
				<table rules="all" cellpadding='5'>
					<tr>
						<td>wind</td>
						<td>{{infos.current.wind.speed._name}} {{infos.current.wind.speed._value}} m/s <br> {{infos.current.wind.direction._name}} ( {{infos.current.wind.direction._value}} )</td>
					</tr>
					<tr>
						<td>Cloudiness</td>
						<td>{{infos.current.clouds._name}}</td>
					</tr>
					<tr>
						<td>Pressure</td>
						<td>{{infos.current.pressure._value}} hpa</td>
					</tr>
					<tr>
						<td>Humidity</td>
						<td>{{infos.current.humidity._value}} %</td>
					</tr>
					<tr>
						<td>Sunrise</td>
						<td>{{infos.current.city.sun._rise}}</td>
					</tr>
					<tr>
						<td>Sunset</td>
						<td>{{infos.current.city.sun._set}}</td>
					</tr>
					<tr>
						<td>Geo coords</td>
						<td>[{{infos.current.city.coord._lon}}, {{infos.current.city.coord._lat}}]</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<!-- Second Content -->
	<div id="container_nextday"  ng-controller="secondContentController" ng-class="content2_class"  ng-model="content2_class">
		<div id="container_nextday">
			<div>
				<select ng-model="mydays" ng-options="day.name for day in days" ng-change="onChangeDays()"></select>
			</div>
		</div>
		<h3>Next days</h3>
		<div ng-repeat="info_day in jsonformat" ng-model="info_repeat">
			<hr>
			<div class='date-weather-block'>
				<span class='date' ng-model="date">{{info_day.dt*1000 | date:'dd MMM'}}</span>
				<span class="icon" ng-class="'i'+info_day.weather[0].icon"></span>
			</div> 
			<div class='desciption'>
				<span class='label label-warning icon-box'>{{info_day.temp.min}}</span>
				<span class='label label-default icon-box'>{{info_day.temp.max}}</span>
				<i>{{info_day.weather[0].description}}</i>
				<p>
					<span style='display:block;'>{{info_day.speed + "m/s"}}</span>
					<span style='display:inline-block;'>{{info_day.clouds + "%, "}}</span>
					<span style='display:inline-block;'>{{info_day.pressure + " hpa"}}</span>
				</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>