<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>Weather API</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</head>

<body>
<!-- Tab -->
<div style="width:450px;height:50px;" ng-controller="tabController">
	<ul style="width:80%;height:100%">
		<li style="float:left;list-style:none"><a href="#CurrentCity" id="tab_currentCity" ng-click="switchTab('city')" ng-class="city_class" ng-model="city_class" ng-click="switchTab('days')">Current City</a></li>
		<li style="float:left;list-style:none"><a href="#NextDay" id="tab_nextDay" style="text-decoration:none" ng-click="switchTab('days')" ng-class="day_class" ng-model="day_class" ng-click="switchTab('days')">Next Days</a></li>
	</ul>
</div>


<!-- First Content -->
<div id="container_currentCity" ng-controller="firstContentController">
	<div>
		<select ng-model="myCity" ng-options="city.name for city in citys" ng-change="onChange(myCity.id)"></select>
	</div>
	{{myCity.id}}
	<div style="width:450px;height:1100px;">
		<h3 id="city_name"></h3>
		<div>
			<h2>
				<span id="city_weather-img" class="city-icon"></span>
				<span id="city_temp" style="display:inline-block;margin-top:10px"></span>
			</h2>
			<span id="city_desciption" style="display:block;"></span>
			<span id="get_time" style="display:block;"></span>
			<table rules="all" cellpadding='5'>
				<tr ng-repeat="info in infos">
					<td>{{info.name}}</td>
					<td>{{info.value}}</td>
				</tr>	
			</table>
		</div>
	</div>
</div>

<!-- Second Content -->
<div id="container_nextday"  ng-controller="secondContentController">
	<div id="container_nextday">
		<div>
			<select ng-model="myCity" ng-options="day.name for day in days"></select>		
		</div>
	</div>

	<div ng-repeat="info_day in jsonformat" ng-model="info_repeat">
		<hr>
		<div class='date-weather-block'>
			<span class='date' ng-model="date">{{date}}</span>
			<span ng-class="weather_img" ng-model="weather_img"></span>
		</div> 
		<div class='desciption'>
			<span class='label label-warning icon-box'>{{info_day.temp.min}}</span>
			<span class='label label-default icon-box'>{{info_day.temp.max}}</span>
			<i>{{info_day.weather[0].description}}</i>
			<p>
				<span style='display:block;'>{{info_day.speed + "m/s"}}</span>
				<span style='display:inline-block;'>{{info_day.clouds + "%, "}}</span>
				<span style='display:inline-block;'>{{info_day.pressure + " hpa"}}</span>
			</p>
		</div>
	</div>
</div>

</body>
</html>