body {
	color: #505050;
}


h3 {
	font-size: 24px;
	font-family: Oswald,sans-serif;
}

hr {
	color: #DDDDDD;
	border-style: solid;
}

img {
	vertical-align: middle;
}

i {
	display: inline-block;
	padding: 5px;
	margin: 2px;
}

p {
    margin: 0 0 10px;
}

div div{
	padding: 5px;
	line-height: 1.42857143;
	display: inline-block;
}

.date {
	display: inline-block;
	width: 120px;
	height: 60px;
	padding: 5px;
}

.desciption {
	display: inline-block;
	width: 270px;
	height: 110px;
	padding: 5px;
	vertical-align: middle;
	margin-top: -6px;
}

.icon-box {
	padding: 3px;
	margin: 1px;
}

.label {
	color: #fff;
}

.label-warning {
	background-color: #f0ad4e;
}

.label-default {
	background-color: #999;
}

.background-img {
	background-image: url(img/result.png);
/*	background-position: 60px 0px;*/
	background-repeat: no-repeat;
}

.i01d {
	background-image: url(img/result.png);
	background-repeat: no-repeat;
	background-position: 60px 0px;
}

.i01n {
	background-image: url(img/result.png);
	background-repeat: no-repeat;
	background-position: 60px -60px;
}

.i02d {
	background-image: url(img/result.png);
	background-repeat: no-repeat;
	background-position: 60px -120px;
}

.i04d {
	background-image: url(img/result.png);
	background-repeat: no-repeat;
	background-position: 60px -180px;
}

.i10d {
	background-image: url(img/result.png);
	background-repeat: no-repeat;
	background-position: 60px -240px;
}